<!-- <ul>
<li class="nav-item">
    <a class="nav-link" routerLink="AdminRegister" routerLinkActive="active" >AdminRegister</a>
</li>
<li class="nav-item">
    <a class="nav-link" routerLink="PatientRegister" routerLinkActive="active" >PatientRegister</a>
</li>

</ul>
-->
<router-outlet></router-outlet>
<!-- <app-login></app-login> -->
<!-- <app-adminlogin></app-adminlogin> -->
<!-- <app-patientlogin></app-patientlogin> -->
<!-- <app-doctorlogin></app-doctorlogin> -->
<!-- <app-doctorsignup></app-doctorsignup> -->
<!-- <app-appointmentform></app-appointmentform> -->
 <!-- <app-admin-dash-board></app-admin-dash-board> -->