<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="doctorName">Doctor Name:</label>
      <input type="text" id="doctorName" [(ngModel)]="appointment.doctorName" name="doctorName" required>
    </div>
  
    <div class="form-group">
      <label for="time">Time:</label>
      <input type="time" id="time" [(ngModel)]="appointment.time" name="time" required>
    </div>
  
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" id="date" [(ngModel)]="appointment.date" name="date" required>
    </div>
  
    <div class="form-group">
      <label for="previousAppointMent">Previous Appointment:</label>
      <textarea id="previousAppointMent" [(ngModel)]="appointment.previousAppointMent" name="previousAppointMent"></textarea>
    </div>
  
    <div class="form-group">
      <label for="status">Status:</label>
      <input type="text" id="status" [(ngModel)]="appointment.status" name="status">
    </div>
  
    <button type="submit" class="btn">Book Appointment</button>
  </form>
  